asgiref==3.7.2
cfgv==3.4.0
distlib==0.3.8
Django==3.2.0
djangorestframework==3.14.0
filelock==3.13.1
identify==2.5.35
nodeenv==1.8.0
platformdirs==4.2.0
pre-commit==3.6.2
psycopg2-binary==2.9.9
pytz==2024.1
PyYAML==6.0.1
sqlparse==0.4.4
typing_extensions==4.10.0
virtualenv==20.25.1
django-colorfield==0.11.0